<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">
            <i class="fas fa-chart-bar me-2"></i>Investech
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio' %}">
                        <i class="fas fa-home me-1"></i>Inicio
                    </a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="usuarioDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-users me-1"></i>Usuario
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_usuario' %}">Agregar Usuario</a></li>
                        <li><a class="dropdown-item" href="{% url 'inicio_usuario' %}">Ver Usuario</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="portafolioDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-briefcase me-1"></i>Portafolio
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_portafolio' %}">Agregar Portafolio</a></li>
                        <li><a class="dropdown-item" href="{% url 'inicio_portafolio' %}">Ver Portafolio</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="activoDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-coins me-1"></i>Activo
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_activo' %}">Agregar Activo</a></li>
                        <li><a class="dropdown-item" href="{% url 'inicio_activo' %}">Ver Activo</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="inversionDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-chart-line me-1"></i>Inversión
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_inversion' %}">Agregar Inversión</a></li>
                        <li><a class="dropdown-item" href="{% url 'inicio_inversion' %}">Ver Inversión</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="transaccionDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-exchange-alt me-1"></i>Transacción
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_transaccion' %}">Agregar Transacción</a></li>
                        <li><a class="dropdown-item" href="{% url 'inicio_transaccion' %}">Ver Transacción</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>